
#inventorybtn{
  position: fixed;
  left: 0%;
  margin-top: 10px;
  margin-left: 10px;
}

#searchbar{
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 33%;
  margin-left: 37%;
  top: 10%;
}

#searchbar:hover{
  border: 2px solid #6F0909;
}

#searchbar:active{
  border: 2px solid #6F0909;
}

#sellbtn{

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  pointer-events:fill;
  cursor: pointer;
}

#inventorytable{
  position: absolute;
  top: 10%;
  right:10%;
  top: 0%;
  margin-top: 0%;
}

#abc{
  width: 75%;
  position: relative;
  top: 25%;
}

#def{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  left: 37%;
  top: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #030a5b;
}

li {
  float: left;
}

li button {
  background-color: #030a5b;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
}

li button:hover {
  background-color: #020739;
  cursor: pointer;
}

#inventorytable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 35%;
  left: 37%;
  top: 20%;
  text-align: center;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  left: 37%;
  top: 20%;
  text-align: center;
  table-layout: auto;

}
td,th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #030a5b;
  color: white;
}

input[type=text],[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#sellbtn {
  width: 100%;
  background-color: #030a5b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#sellbtn:hover {
  background-color: #45a049;
}

#sellinputs {
  width: 23%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#purchaseinputs{
  width: 23%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

}

#purchasebtn{
  width: 100%;
  background-color: #030a5b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#purchasebtn:hover{
  background-color: #45a049;
}

#signupdiv{
  width: 23%;
  margin: auto;
  top: 20%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#signupbtn{
  width: 100%;
  background-color: #030a5b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#signupbtn:hover{
  background-color: #45a049;
}

#signupdiv h1, h3{
  text-align: center;
}

img{
  height: 20px;
  width: 20px;
  display: flex;
  margin: auto;
  cursor: pointer;
}

#nonzerodiv{
  float: right;
}

#nonzerotable{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 45%;
  right: 0%;
  top: 20%;
  text-align: center;
}

#nonzerobtn{
  float: right;
  background-color: #030a5b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* input[type=text],[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

.sidebtn {
  width: 100%;
  background-color: #030a5b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sidebtn:hover {
  background-color: #45a049;
}

#sidebar {
  width: 23%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  float: right;
}

#sidebarsales {
  width: 23%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  float: right;
}

#salelowtohightable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse; 
  left: 37%;
  top: 20%;
  width: 50%;
  text-align: center;
  table-layout: auto;
}